<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.secoco">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeCoCo">
        <activity android:name=".usuarios.persona.Sintomas"></activity>
        <activity android:name=".usuarios.persona.PersonaInicio" />
        <activity android:name=".CambioContrasena" />
        <activity android:name=".usuarios.etda_covid.ETDAInicio" />
        <activity android:name=".usuarios.ere_covid.EREInicio" />
        <activity android:name=".usuarios.erc_covid.ERCInicio" />
        <activity android:name=".usuarios.persona.Mapa" />
        <activity android:name=".Registro" />
        <activity android:name=".Ingreso">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".usuarios.persona.ServicioUbicacion"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>